@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    position: fixed;
    background: #000000;
}

.zoom-effect {
    transition: transform 0.4s ease;    
}

.zoom-effect:hover {
    transform: scale(1.1);
}

.gradient-overlay {
    background-image: linear-gradient(
        rgba(65, 247, 193, 0.769),
        rgba(13, 251, 203, 0.6)
    );
}