@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    position: fixed;
    background: #000000;
}

.zoom-effect {
    transition: transform 0.4s ease;    
}

.zoom-effect:hover {
    transform: scaleX(1.9) scaleY(1.4);

}

.img-effect{
    cursor: pointer;
    filter: brightness(0.9) contrast(10.5) hue-rotate(100deg) saturate(1.3);
}

.gradient-overlay {
    background-image: linear-gradient(
        rgba(65, 247, 193, 0.7),
        rgba(13, 251, 203, 0.6)
    );
    
}